.buttonDefault,
.buttonDisabled,
.buttonNegative {
  border: 1px solid transparent;
  color: var(--color-white);
  cursor: pointer;
  padding: 16px;
  border-radius: 4px;
  width: 100%;

  &:disabled {
    cursor: not-allowed;
  }
}

.buttonDefault {
  background-color: var(--color-primary);

  &:hover {
    background-color: var(--color-primary-hover);
  }
}

.buttonDisabled {
  background-color: var(--color-grey-2);

  &:hover {
    background-color: var(--color-grey-1);
  }
}

.buttonNegative {
  background-color: var(--color-primary-negative);

  &:hover {
    background-color: var(--color-primary-hover);
  }
}