.footerTemplate {
  width: 100%;
  display: flex;
  padding: 0 14px;
  gap: 16px;
  height: 70px;
  border-top: 1px solid var(--color-grey-2);
  align-items: center;
  justify-content: space-between;

  &>span {
    display: none;

    i {
      color: var(--color-primary);
    }

    @media (min-width: 640px) {
      display: block;
    }
  }

  &>h2 {
    color: var(--color-primary);
  }

  @media (min-width: 1024px) {
    padding-left: calc(((100vw - 1024px) / 2) + 14px);
    padding-right: calc(((100vw - 1024px) / 2) + 14px);
  }
}